### .bat ###
*.bat

### Jupyter ###
.ipynb_checkpoints

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### .pem ###
*.pem

### ec2_commands.md ###
ec2_commands.md
